/* App icon styling */
.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100px;
  text-align: center;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-image {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  object-fit: cover;
}

.app-icon:hover .icon-image {
  transform: scale(1.2);
  box-shadow: 0 0 10px #ffa500;
}

/* Active state styling */
.app-icon.active .icon-image {
  border: 2px solid #ffa500;
}